.Sidebar {
  padding: 20px 0px;
}
.HomeNav {
  padding: 20px 28px;
  border-bottom: 2px solid #e4e4e4;
  font-size: small;
  font-weight: 600;
}
.NavTitle {
  font-size: medium;
  font-weight: 600;
}
.SideNav {
  padding: 10px 60px 10px 20px;
}
.SideNav ul {
  padding: 0px;
  list-style: none;
}

.SideNav ul li {
  padding: 0px 8px;
  margin: 15px 0px;
  border-left: 3px solid #fff;
  font-size: small;
  font-weight: 600;
}

.SideNav ul li.Active {
  border-left: 3px solid #ed8154;
  color: #ed8154;
}

.FaIcon {
  margin-right: 15px;
}
