.AppLayout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}
.Content {
  display: grid;
  grid-template-columns: auto 1fr;
}

.Page {
  background-color: #e4e4e4;
  padding: 20px;
}
